<h2><%= @cocktail.name %> </h2>

<ul> <%= @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> </li>
  <li> <%= dose.ingredient.name %> </li>
  <% end %>
</ul>

<ul> <%= @cocktail.ingredients.each do |ingredient| %>
  <li> <%= ingredient.name %> </li>
  <% end %>
</ul>
