<h2><%= @cocktail.name %> </h2>

<ul> <%= @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> </li>
  <li> <%= dose.ingredient.name %> </li>
  <% end %>
</ul>

# <%= render "doses/new", cocktail: @cocktail, dose: @dose %>

# <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
#   <i class="fa fa-trash destroy_dose"></i>

<ul> <%= @cocktail.ingredients.each do |ingredient| %>
  <li> <%= ingredient.name %> </li>
  <% end %>
</ul>

# Specified in routes where to go
# <%= link_to "Back to all cocktails" %>